@font-face {
  font-family: "arbutus_slabregular";
  src: url("./assets/fonts/Arbutus_Slab_webkit/arbutusslab-regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/Arbutus_Slab_webkit/arbutusslab-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: "arbutus_slabregular", Courier, monospace;
  color: #fff;
}

a {
  color: #175a5a;
  text-decoration: none;
  text-transform: uppercase;
}
.topShape {
  position: absolute;
  top: -4em;
  right: -7em;
  max-width: 50%;
  max-height: 50%;
  z-index: -1;
  filter: blur(10px);
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.bottomShape {
  position: absolute;
  bottom: -10em;
  left: -10em;
  max-width: 50%;
  max-height: 50%;
  z-index: -1;
  filter: blur(10px);
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.welcome-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: #242424;
  text-align: center;
}

.startGame--button {
  background-color: #175a5a;

  color: #f5f7fb;
  border: none;
  border-radius: 10px;
  padding: 16px 26px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}

.startGame--button:hover {
  background-color: #00d0cb;

  color: #f5f7fb;
  border: none;
  border-radius: 10px;
  padding: 16px 26px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.QuizzHopInfo {
  width: 40%;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main for background */
.background {
  color: #fbf8f3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.background::before {
  content: "";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}
